<!DOCTYPE html>
<html style="width: 1000pxS;background-color: #e7e4e4;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/static/assets/css/Navigation-with-Button.css">
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#page-top">Regressors</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li role="presentation" class="nav-item"></li>
                <li role="presentation" class="nav-item"><a class="nav-link js-scroll-trigger"
                                                            href="{{url_for('index')}}">Homepage</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                                            href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!DOCTYPE html>


<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>Blog_design</title>-->
<!--    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">-->
<!--    <link rel="stylesheet" href="static/assets/css/styles.css">-->
<!--</head>-->

<body>
    <section style="background-color:currentcolor;padding-bottom:100px;">
        <div class="container d-flex justify-content-center align-items-center" style="height: 50px;width: 100%;padding-top:43px;">
            <h1 class="text-center shadow-lg" style="color: rgb(222,215,215);opacity: 1;padding: 14PX;background-color: rgb(72,82,82);width: 666px;">RIDGE REGRESSION</h1>
        </div>
    </section>
    <section class="position-relative" style="background-color: #e7e4e4;padding:0px;">
        <div class="container justify-content-center align-items-center position-relative" style="width: 100%;">
            <h4 style="padding: 20px 0px 0px 0px;">What is Ridge Regression?</h4>
            <p>
            Ridge Regression is a technique used when the data suffers from multicollinearity (independent variables are highly correlated).
                In multicollinearity, even though the least squares estimates (OLS) are unbiased, their variances are large which deviates the observed value far from the true value.
                By adding a degree of bias to the regression estimates, ridge regression reduces the standard errors.
In linear regression we represented the line equation as:
<br>
y=a+ b*x
<strong>This equation also has an error term. The complete equation becomes:</strong>
<br>
<strong>y=a+b*x+e (error term)</strong>,  [error term is the value needed to correct for a prediction error between the observed and predicted value]
<br>=> y=a+y= a+ b1x1+ b2x2+....+e, for multiple independent variables.<br>
In a linear equation, prediction errors can be decomposed into two sub components. First is due to the biased and second is due to the variance. Prediction error can occur due to any one of these two or both components. Here, we’ll discuss about the error caused due to variance.Ridge regression solves the multicollinearity problem through shrinkage parameter λ (lambda).<br><br>
            <div class="row">
                <div class="col"><img class="img-fluid" src="static/assets/img/blogs/r1.png" style="height:401px ;width:550px;"></div>
                <div class="col"><img src="static/assets/img/blogs/r2.png" height="100%" width="100%"></div>
            </div>
        </div>
    </section>
    <section class="d-flex justify-content-center align-items-center align-content-center" id="adv" style="padding:50px 0px;height: auto;background-color: #e7e4e4;">
        <div class="container" style="height:auto;background-color: #e7e4e4;">
            <h1 class="d-flex justify-content-start align-items-center align-content-center" style="height: 20px;">When to use it?</h1>
            <p class="border rounded-0" style="background-color: #e7e4e29;padding: 0px;"><ul>
<li>The assumptions of this regression is same as least squared regression except normality is not to be assumed</li><br>
<li>Ridge regression shrinks the value of coefficients but doesn’t reaches zero, which suggests no feature selection feature</li><br>
<li>This is a regularization method and uses l2 regularization.</li><br>
</ul>



</p>
        </div>
    </section>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <section id="contact" style="background-image:url('map-image.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading" style="padding-top:50px;">want to get in touch with us ??</h2>
                <h3 class="section-subheading text-muted">Please fill the form and we will get in touch with you
                    soon.!!!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="contactForm" novalidate="novalidate">
                    <div class="form-row">
                        <div class="col col-md-6">
                            <div class="form-group"><input type="text" class="form-control" id="name"
                                                           placeholder="Your Name *" required/><small
                                    class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                            <div class="form-group"><input type="email" class="form-control" id="email"
                                                           placeholder="Your Email *" required/><small
                                    class="form-text text-danger help-block lead"></small></div>
                            <div class="form-group"><input type="tel" class="form-control" placeholder="Your Phone *"
                                                           required/><small
                                    class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><textarea class="form-control" id="message"
                                                              placeholder="Your Message *" required></textarea><small
                                    class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="col">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>

</html>