<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Regression Models</h2>
  <a href="{{url_for('dynamic',name='Linear Regression')}}" class="btn btn-info" role="button">Linear Regression</a>
  <a href="{{url_for('dynamic',name='Logistic Regression')}}" class="btn btn-info" role="button">Logistic Regression</a>
  <a href="{{url_for('dynamic',name='Polynomial Regression')}}" class="btn btn-info" role="button">Polynomial Regression</a>
    <a href="{{url_for('dynamic',name='Stepwise Regression')}}" class="btn btn-info" role="button">Stepwise Regression</a>
    <a href="{{url_for('dynamic',name='Lasso Regression')}}" class="btn btn-info" role="button">Lasso Regression</a>
</div>
<div class="container">
  <div class="jumbotron">
    <h1>Recommender System</h1>
    <p>Do you want us to recommend you an algorithm for your dataset?</p>
      <a href="{{url_for('rec')}}"button type="button" class="btn btn-default">Click Here</abutton>
  </div>
</div>
</body>
</html>
